node_modules/
# Ignore all files starting with "z"
z*

# User-specific files - Ignore all files ending in ".env"
*.env

# Root config folder - Ignore this directory at the root due to leading slash
# Removing the slash would ignore "config" directories at all depths 
/artifacts
